<%- include('./partials/Header.ejs')%>

    <div class="grid grid-cols-12">
      <div class="col-span-12 sm:col-span-3 bg-gray-200">
        <%- include('./partials/Sidebar.ejs')%>
      </div>


      <div class="col-span-12 sm:col-span-9">
        <div style=" padding: 1px 16px; height: 100%" >
          <p class="text-3xl text-blue-400 font-black my-6 text-center">Books List</p>
       
            <% books.forEach(function(book) { %>
              
            
         
                <div class="flex flex-row mt-3  border rounded-md border-blue-200 py-1 px-2 class=py-1 px-2 bg-gray-200 rounded-md" >
                 <div class="grid grid-cols-12">
                 <div class="col-span-12 sm:col-span-4">
                  <a 
                  href="./book/<%= book._id %>"
                  ><img src="/images/<%= book.image %>" class=" w-[20rem] h-[12rem]"/></a>
                 </div>
                 <div class="col-span-12 sm:col-span-8">
                  <div class="right ml-3">
                    <p class="text-xl font-bold"> <%= book.name %></p>
                    <p class="text-sm text-blue-400 font-bold">By : <%= book.author_name %></p>
                    <p class="text-sm text-gray-700 px-2 mt-3"><%= book.description %></p>
                    
                  </div>
                 </div>
                 </div>
                </div>
             
            <%  }); %>
            
        </div>
      </div>
    </div>

  </body>
</html>
