<%- include('./partials/Header.ejs')%>

    <div class="grid grid-cols-12">
      <div class="col-span-12 sm:col-span-3 bg-gray-200">
        <%- include('./partials/Sidebar.ejs')%>
      </div>


      <div class="col-span-12 sm:col-span-9 bg-gray-100">

        <!-- Card -->
        <h1 class="text-3xl text-blue-400 font-black my-6 text-center"><b>Book Details</b></h1>
        <!-- Information of the books -->
        <% if(book) { %>
          <div class="card w-full  py-2 px-2 border-blue-1000 flex flex-col">
            <img
            src="/images/<%= book.image %>"
            class="w-[30rem]  mx-auto"
            alt="Card image"
            />
            <div class="card-body">
              <h4 class="text-xl font-bold text-bllue-400 my-2 mx-3"><%= book.name %> </h4>
              <p class="text-md font-semibold mx-3 text-blue-300">By :  <%= book.author_name %></p>
              <p class="px-3  mt-2">
                <%= book.description %>
              </p>
            </div>
          </div>
          <%  }; %>
        </div>
        </div>

  </body>
</html>
